.coins-sst-container {
    margin: 30px 0px 0 0;
    width: 100%;
    overflow-x: scroll;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.coins-server-side-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    padding-right: 15px;

    tr {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }

    th,
    td {
        padding: 12px 4px;
    }

    thead {
        position: sticky;
        top: 0px;
        z-index: 10;
        background: #fff;

        tr {
            border-top: unset;

            th {
                font-weight: 600;
                position: sticky;
            }
        }
    }

    tbody {
        tr {
            font-size: 14px;
            line-height: 1.25rem;

            &:last-child {
                border-bottom: unset;
            }
        }
    }
}

.pagination-btn-group {
    button {
        color: #333;
        cursor: pointer;
    }
}