.coins-sst-container {
    margin: 30px 0px 0 0;
    width: 100%;
    overflow-x: auto;
    border-radius: 6px;
    border: 1px solid var(--main-color);

    .search-bar {
        margin: 12px 12px 16px 12px;
    }

    .coins-sst-wrapper {
        overflow-x: auto;

        .coins-server-side-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 13px;
            padding-right: 15px;

            tr {
                border-top: 1px solid var(--main-color);
                border-bottom: 1px solid var(--main-color);
            }

            th,
            td {
                padding: 10px 8px;
            }

            thead {
                position: sticky;
                top: -13px;
                z-index: 10;
                background: #fff;

                tr {
                    border-top: unset;

                    th {
                        font-weight: 600;
                        position: sticky;
                        font-size: 12px;

                        .sorting-btn {
                            font-size: 12px;

                            svg {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    font-size: 14px;
                    line-height: 1.25rem;

                    &:last-child {
                        border-bottom: unset;
                    }
                }
            }
        }
    }

    .bottom-bar {
        display: flex;
        margin-top: 16px;
        justify-content: space-between;
        flex-wrap: wrap;

        .rows-per-page-dropdown {
            display: flex;
            place-items: center;
            gap: 8px;
            flex-wrap: wrap;
            margin: 0px 12px 12px 12px;
        }

        .pagination-btn-group {
            gap: 8px;
            display: flex;
            flex-wrap: wrap;
            margin: 0px 12px 12px 12px;

            button {
                color: #333;
                cursor: pointer;

                &:hover {
                    background-color: var(--main-color-2);
                    outline: 1px solid var(--main-color-2);
                    border-color: var(--main-color-2);
                    color: #fff;
                }

                &:focus-visible {
                    outline: 1px solid var(--main-color-2);
                    border: 1px solid var(--main-color-2);
                    box-shadow: unset;
                }
            }
        }
    }
}

@media (max-width:640px) {
    .coins-sst-container {
        .bottom-bar {
            justify-content: center;
        }
    }
}