.coins-sst-container {
    margin-top: 30px;
    width: 100%;
    overflow-x: auto;
}

.coins-server-side-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

    tr {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }

    th,
    td {
        padding: 12px 4px;
    }

    thead {
        tr {
            th {
                font-weight: 600;
                position: sticky;
                top: -13px;
                z-index: 10;
                background: #fff;
            }
        }
    }

    tbody {
        tr {
            font-size: 14px;
            line-height: 1.25rem;
        }
    }
}

.pagination-btn-group {
    button {
        color: #333;
        cursor: pointer;
    }
}